version: '3.8'
services:
  db:
    image: mariadb:latest
    container_name: mariadb
    build:
      context: ./db
      dockerfile: Dockerfile
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: yourpassword
      MYSQL_DATABASE: kbmdocv2
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node-app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000"
    command: sh start-app.sh
